<!-- <div class="text-layout">

    <h1>{{ nombre | titlecase}}</h1>
    <h1>{{ valor | number}}</h1>

</div>

    <button pButton 
        (click)="mostrarNombre()" 
        label="Cambiar Nombre" 
        icon="pi pi-bell" 
        iconPos="right"
        class="p-button-help">
    </button>

<p-card [header]="nombre | titlecase"
subheader="Esto es un subheader">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore accusantium minima expedita nihil impedit saepe a, quibusdam consequuntur blanditiis doloremque sit. Laudantium aspernatur accusantium ipsa neque aliquam commodi quibusdam voluptas?</p>
</p-card> -->


<app-menu></app-menu>
<router-outlet></router-outlet>